.header {
    padding: 50px 100px;
    text-align: center;
    background: #999;
    font-size: 32px;
    font-family: Sans-Serif;
}

.main {
    background: LightGreen;
    padding: 100px;
    font-size: 38px;
    color: #fff;
    font-family: Sans-Serif;
    text-align: center;
}

.footer {
	background: SlateGrey;
	padding: 30px; 100px;
	font-size: 32px;
	color: #fff;
	font-family: Sans-Serif;
	text-align: center;
}